*.gz
.hidden
Makefile
Makefile.am
Makefile.in
Makefile.otp
ac-init.generated
aclocal.m4
autom4te.cache
build
config.log
config.status
configure
configure.ac
create-package
fw
fw-pkgout
fw-pkgtmp
install-sh
missing
sonar-project.properties
sonar-project.properties.in
test-driver
