*.gz
.dialyzer_ok
.eunit/
.generated_app_file
.hidden
.rebar
Makefile
Makefile.am
Makefile.in
Makefile.otp
ac-init.generated
aclocal.m4
autom4te.cache
bin/erlrc-make-boot-script
build
config.log
config.status
configure
configure.ac
create-package
ebin/
fw
fw-pkgout
fw-pkgtmp
install-sh
missing
rebar
rebar.config
rebar.config.script
sonar-project.properties
sonar-project.properties.in
test-driver
