*.COVER.out
*.beam
*.in
*.test.out
.*.beam_ok
.*.erl_ok
.*.script_ok
Makefile
Makefile.am
erl_crash.dump
module-*
ok-boot-test-0
ok-boot-test-1
ok-boot-test-circular-1
ok-boot-test-circular-2
ok-boot-test-dependency-included
ok-boot-test-duplicate-included
ok-boot-test-included-deps
ok-boot-test-nested-include
otp-test-wrapper.sh
test-downgrade.out
test-start.out
test-stop.out
test-upgrade.out
